.app section {
  display: flex;
  justify-content: space-around;
}

.app > section {
  border: solid black 1px;
  height: 400px;
}

.crud-container {
  text-align: center;
  width: 600px;
}

.crud-container > div {
  float: left;
  border-left: solid black 1px;
  border-right: solid black 1px;
  overflow: scroll;
  min-width: 321px;
  padding-left: 18px;
  padding-right: 18px;
}

.section-container > div {
  overflow: scroll;
}

.segment-inputs {
  width: 400px;
  margin-bottom: 16px;
}

.segment-inputs input {
  margin-bottom: 15px;
}

.message-unit {
  border-bottom: solid black 1px;
}

.message-unit h2 {
  float: left;
}

.message-unit section:second-child {
  margin-left: 40px;
  margin-right: 40px;
}

.running-message {
  max-width: 200px;
  position: relative;
  word-wrap: break-word;
}

.errors {
  width: 345px;
  margin-left: 30px;
  color: red;
}

input {
  border: none;
  border-bottom: solid black 1px;
  height: 37px;
}

select {
  margin-top: 16px;
  margin-bottom: 18px;
  width: 100px;
}

p {
  margin: 7px;
}

ul {
  width: 140px;
  margin-left: 120px;
  margin-right: 0px;
  padding-left: 10px;
}

li {
  display: flex;
  width: 130px;
  justify-content: space-between;
}

li p:nth-child(2) {
  font-family: arial;
  color: red;
  float: right;
}
